{{!< default}}
<head>
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{meta_title}}" />
  <meta property="og:description" content="{{@blog.description}}" /> 
  <meta property="og:image" content="{{@blog.url}}/img/vintage_ad_bar.jpg" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@adamjohnsonnyc">
  <meta name="twitter:title" content="{{meta_title}}">
  <meta name="twitter:description" content="{{@blog.description}}">
  <meta name="twitter:image" content="{{@blog.url}}/img/vintage_ad_bar.jpg">
</head>

{{> expanding-header}}

<div class="container">

  <div class="row">

    <div class="col-md-4">
      {{> sidebar}}
    </div>

    <div class="col-md-8">

      <section class="content" role="main">
        <div class="search-results"></div> 
        {{#foreach posts}}
          
          <!-- "post-listing" class indicates partial (not full) post view for scripting rather than CSS, do not change! -->
          <div class="post-listing {{post_class}}" role="article"> 


            <h3 class="post-title">
              <a href="{{{url}}}">{{title}}</a>


              <div class="post-meta">
                <span><span class="glyphicon glyphicon-calendar"></span>&nbsp; {{date format='dddd'}}, {{date format='DD MMM'}}</span>
                {{#if author}}
                  <span class="pipe-space">|</span>
                  <span class="glyphicon glyphicon-user"></span>&nbsp; {{author.name}}
                {{/if}}
                {{#if tags}}
                    <span class="pipe-space">|</span>
                    <span class="glyphicon glyphicon-tags"></span>&nbsp; {{tags seperator=" "}}
                {{/if}}
              </div>
            </h3>

            <div class="post-summary-img">
              {{content words="0"}}
              <div class="post-summary-subtitle">
                {{excerpt sentences="20"}}...
              </div>
            </div>
            <div class="read-more">
              <a href="{{{url}}}">Read more &rarr;</a>
            </div>

          </div>
        {{/foreach}}

        {{#if pagination}}
          <div class="pagination">
            {{{pagination}}}
          </div>
        {{/if}}
      </section>

    </div>

  </div>

</div>
{{> footer}}