{{!< default}}

{{> header}}
{{#post}}
<!-- post-specific social info for SEO -->
<head>
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{title}}" />
  <meta property="og:description" content="{{excerpt words="20"}}" /> 
  <meta property="og:image" content="{{@blog.url}}/img/vintage_ad_bar.jpg" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:creator" content="@adamjohnsonnyc">
  <meta name="twitter:title" content="{{title}}">
  <meta name="twitter:description" content="{{excerpt characters="130"}}...">
  <meta name="twitter:image" content="{{@blog.url}}/img/vintage_ad_bar.jpg">
</head>


<div class="post-top">
  <!-- script inserts featured image and subtitle here, do not change unless you know what you're doing -->
  <div class="post-image">
    {{content words="0"}}
    <div class="post-subtitle"><h3></h3>
    </div>
  </div>
</div>

<div class="container">

  <section class="content" role="main">

      <div class="full-post {{post_class}}" role="article">

        <h1 class="post-title hideable">
          <a href="{{{url}}}">{{title}}</a>

          <div class="post-meta">
            <span class="glyphicon glyphicon-calendar"></span>&nbsp;{{date format='dddd'}}, {{date format='DD MMM'}}
            {{#if author}}
              <span class="pipe-space">|</span>
              <span class="glyphicon glyphicon-user"></span>&nbsp; {{author.name}}
            {{/if}}
            {{#if tags}}
                <span class="pipe-space">|</span>
                <span class="glyphicon glyphicon-tags"></span>&nbsp; {{tags seperator=" "}}
            {{/if}}
          </div>
        </h1>

        <div class="post-content" itemprop="articleBody">
          {{content}}
        </div>
      </div>

  </section>
</div>

<div class="container">
  <div class="row bottom-meta bottom-profile">
    <div class="col-xs-6 author">
      <img src="{{author.image}}">
      {{author.bio}}
    </div>
    <div class="col-xs-6 bottom-social">
      <a href="http://twitter.com/share?text={{title}}&url={{@blog.url}}{{url}}" target="_blank"><img src="/img/social/twitter.png"></a>
      <a href="http://www.reddit.com/submit?url={{@blog.url}}{{url}}" target="_blank"><img src="/img/social/reddit.png"></a>
      <a href="http://www.facebook.com/sharer.php?u={{@blog.url}}{{url}}" target="_blank"><img src="/img/social/fb.png"></a>
      <a href="{{@blog.url}}/rss" target="_blank"><img src="/img/social/rss.png"></a>
    </div>
  </div>

</div>

    

<div class="container">
  <div id="comments">
    <div class="comment-head"><h3>COMMENTS &darr;</h3></div>
    <div id="disqus_thread"></div>
    <script type="text/javascript"> 
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'corplulz'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

  </div>
</div>
{{/post}}
{{> footer}}

</div>